<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= form_tag root_path, method: :get do %>
        <ul class="pages">
          <% @pages.each do |page| %>
            <li>
              <label id="page-<%= page.id%>-checkbox" class="checkbox">
                <%= check_box_tag 'page_ids[]', page.id %>
                <%= page.name %>
              </label>
            </li>
          <% end %>
        </ul>
        <%= submit_tag 'envoyer' %>
      <% end %>
    </div>

    <div class="col-lg-9">
      <%= month_calendar(events: @events, attribute: :started_at, attribute_end: :ended_at) do |date, events| %>
        <strong><%= date.day %></strong>

        <% events.each do |event| %>
          <div class="event">
            <small><a href="https://facebook.com/events/<%= event.facebook_id %>"><%= event.title %></a></small>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
